/*---------------------------------------- Colors */
:root {
    --white: hsl(225, 100%, 98%);
    --light-blue: hsl(225, 100%, 94%);
    --gray: hsl(224, 23%, 55%);
    --purple: hsl(245, 83%, 68%);
    --blue: hsl(245, 75%, 52%);
    --dark-blue: hsl(223, 47%, 23%);
}

/*---------------------------------------- Global styling */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Red Hat Display', sans-serif;;
}

body {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*---------------------------------------- Frontend Mentor Credits styling */
.attribution {
    color: var(--dark-blue);
    text-align: center;
    align-self: flex-end;
    margin-bottom: 2rem;
}

.attribution a {
    color: inherit;
}

.attribution a:hover {
    color: var(--purple);
    text-decoration: none;
}